// TODO

.post:first-child {
  margin-top: 1.5rem;
}
.post {
  margin-bottom: 3rem;

  h2 {
    cursor: pointer;
  }

  h2:hover {
    color: var(--highlight);
  }

  p {
    margin-top: 0.5rem;
  }

  p + div {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75rem;
    div {
      display: inherit;
      align-items: center;
      margin-right: 1rem;
      svg {
        font-size: 15px;
        margin-right: 0.2rem;
      }
    }
  }
}

.loadButton {
  background-color: transparent;
  color: var(--highlight);
  text-decoration: none;
  border: none;
  font-weight: 600;
  margin-bottom: 2rem;
}

.preview {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  a {
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    background-color: #fff;
    width: 90%;
    color: #000;
    transition: 0.2s;
    &:hover {
      opacity: 0.8;
    }
  }
}
